@model Litium.Accelerator.ViewModels.Error.ErrorViewModel

<div class="mt-5 container pb-5 mb-5">
	<div class="row">
		<div class="col-12">
			<h1>
				@Model.Title
			</h1>
			@Model.Text

			<a class="btn btn-secondary" href="@Model.StartPageUrl">@Html.WebSiteString("errorpage.backtostart")</a>
		</div>
		<div class="col-12 d-flex justify-content-end">
			@Html.ImageFor(x => x.Image, maxSize: new Size(-1, 500))
		</div>
	</div>
</div>
