@model Litium.Accelerator.ViewModels.ContactUs.ContactUsViewModel

<p class="mb-1"><i class="bi bi-house-door me-2"></i>@Model.CurrentChannelContactInformation.ContactName</p>
<p class="mb-1 ps-4">@Model.CurrentChannelContactInformation.ContactStreet</p>
<p class="ps-4">@Model.CurrentChannelContactInformation.ContactAddressLine2</p>
<p class="ps-4">@Model.CurrentChannelContactInformation.ContactZipCode @Model.CurrentChannelContactInformation.ContactCity</p>
<p><i class="bi bi-telephone me-2"></i>@Model.CurrentChannelContactInformation.ContactPhone</p>
<p><i class="bi bi-envelope me-2"></i>@Model.CurrentChannelContactInformation.ContactEmails</p>
<p><i class="bi bi-globe2 me-2"></i>@Model.CurrentChannelContactInformation.ContactWebsite</p>