@model Litium.Accelerator.ViewModels.Product.ProductItemViewModel

<div class="card m-lg-2 shadow p-3 mb-5 bg-white productlistCard">
    <div class="card-body">
        <div class="productListcardImage productlistCardImage" >
            @if (Model.Images != null)
            {
                @Model.Images.First()
            }
        </div>
        <div class="productListcardHeadLine">
            <h5>@Model.Name</h5>
        </div>
        <div class="productListcardArticleNum">
            <p>@Model.Id</p>
        </div>
        <div class="productListcardPrice text-danger">
            <h5>@Model.Price.Price.Price @Model.Currency</h5>
        </div>
    </div>
</div>
