@using Litium.Accelerator.ViewModels.Product
@using Litium.Accelerator.Constants

@model CategoryPageViewModel

<div id="search-result">
	@if (Model.ShowSections)
	{
		@Html.BlockContainer(Model.Blocks, BlockContainerNameConstant.Header);
	}
	@if (Model.ShowRegularHeader)
	{

		if (string.IsNullOrWhiteSpace(Model.Description) && Model.Images == null)
		{
			<h1>@Model.Name</h1>
		}
		else if (Model.Images == null)
		{
			<div class="product-group-header">
				<h1>@Model.Name</h1>
				@Model.Description
			</div>
		}
		else if(Model.Images != null && Model.Images.Any())
		{
			@section PresentationHero {
				<div class="card border-0">
					<img src="@Model.Images.First()" alt="" />
					<div class="card-img-overlay d-flex align-items-end p-0">

						<div class="col-12 col-md-4 col-lg-3 offset-md-1 offset-lg-2 presentationhero-box p-5">
							@if (!string.IsNullOrWhiteSpace(Model.ParentName))
							{
								<p class="text-white">@Model.ParentName</p>
							}
							<h1 class="text-white text-uppercase">@Model.Name</h1>
							<p class="text-white">@Model.Description</p>
						</div>

					</div>
				</div>
			}
		}
	}

	@if (Model.ShowFilterHeader)
	{
		<h1>@Model.Name <span>(@Model.Pagination.TotalCount)</span></h1>
	}
	<div id="facetedSearchCompact" class="compact-filter"></div>
	@{Html.RenderAction("CategoryFiltering", "Navigation", new { TotalHits = Model.Pagination.TotalCount });}
	@{Html.RenderAction("ChildCategoryNavigation", "Category");}
	@if (Model.ShowSections)
	{
		@Html.BlockContainer(Model.Blocks, BlockContainerNameConstant.Main);
	}
	<div data-productlist>
		@if (Model.Pagination.TotalCount > 0)
		{
			<div class="product-list">
				<div class="row product-list">
					@foreach (ProductItemViewModel product in Model.Products)
					{
						<div class="product-list__item col-6 col-md-4 col-lg-3">
							@Html.DisplayFor(x => product, new { ImageMaxHeight = 300 })
						</div>
					}
				</div>
			</div>
			@Html.DisplayFor(x => x.Pagination)
		}
	</div>
</div>