@model Litium.Accelerator.ViewModels.Framework.HeaderViewModel
@using Litium.Web.Mvc

@{
	var hasGetOrganisedCTA = !string.IsNullOrEmpty(Model.GetOrganised.Href);
	var isDark = true;
}

<header id="header" role="banner" class="header @(isDark ? "dark" : "red")">
	<nav class="navbar navbar-expand-lg border-bottom border-dark border-1 py-2 d-none d-lg-flex @(isDark ? "bg-dark" : "bg-primary")">
		<div class="container justify-content-end">
			<div class="collapse navbar-collapse me-auto">
				<ul class="navbar-nav">
					@Html.Partial("Framework/TopLink", Model)
				</ul>
			</div>

			<div class="d-flex justify-content-around align-items-center">
				<div class="marketselector dropdown">
					@Html.Action("MarketSelector", "Layout")
				</div>

				<div class="ms-5" id="quickSearch"></div>
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-expand-lg py-2 px-3 px-lg-0 @(isDark ? "linear-bg" : "bg-primary")">
		<div class="container">
			<a class="navbar-brand me-5" href="@Model.StartPageUrl">
				@Html.ImageFor(x => x.Logo, maxSize: new System.Drawing.Size(-1, 50))
			</a>

			@if (Model.Categories != null && Model.Categories.Any())
			{
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
						@foreach (var category in Model.Categories)
						{
							<li class="nav-item px-4">
								<div class="megamenu dropdown text-uppercase">
									@Html.Partial("Framework/Subcategory", category)
								</div>
							</li>
						}
					</ul>
				</div>
			}

			<div class="d-flex align-items-center justify-content-around util-items">
				<a href="#" data-bs-toggle="offcanvas" data-bs-target="#favorites" aria-controls="favorites">
					<i class="bi bi-heart me-2"></i>
				</a>

				@Html.Partial("Framework/Profile", Model)

				<a href="#">
					<i class="bi bi-bag me-2"></i>
				</a>

				@*<div id="miniCart" class="cart cart--mini"></div>*@

			</div>
			@if (hasGetOrganisedCTA)
			{
				<a class="btn btn-link btn-cta-link ms-3 text-uppercase d-none d-lg-block" href="@Model.GetOrganised.Href" title="@Model.GetOrganised.Text">
					@Model.GetOrganised.Text
				</a>
			}
		</div>
	</nav>

	<nav class="navbar d-lg-none justify-content-between p-3 @(isDark ? "linear-bg-small" : "bg-primary")">
		<div class="container">
			<button class="hamburger hamburger--slider" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>

			@if (hasGetOrganisedCTA)
			{
				<a class="btn btn-link btn-cta-link text-uppercase" href="@Model.GetOrganised.Href" title="@Model.GetOrganised.Text">
					@Model.GetOrganised.Text
				</a>
			}
		</div>
	</nav>
</header>


<!-- MOBILE MENU -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
	<!-- Header -->
	<div class="offcanvas-header @(isDark ? "bg-dark" : "bg-primary")">
		<a class="navbar-brand me-5" href="@Model.StartPageUrl">
			@Html.ImageFor(x => x.Logo, maxSize: new System.Drawing.Size(-1, 50))
		</a>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body">
		<!-- Search -->
		<div class="input-group mb-4 mt-3">
			<input class="form-control py-2" type="search" placeholder="@Html.WebSiteString("js.general.search.placeholder")" />
			<div class="input-group-append">
				<button class="btn search-btn border-0"><i class="bi bi-search"></i></button>
			</div>
		</div>

		<!-- Main categories -->
		@if (Model.Categories != null && Model.Categories.Any())
		{
			<ul class="list-group mb-3">
				@foreach (var category in Model.Categories)
				{
					<li class="list-group-item border-0"><a href="@category.Url"><h2 class="text-uppercase">@category.Name</h2></a></li>
				}
			</ul>
		}

		<ul class="list-group border-0 mb-2">
			@if (hasGetOrganisedCTA)
			{
				<li class="list-group-item border-0">
					<a href="@Model.GetOrganised.Href" class="fw-bold text-uppercase link-primary" title="@Model.GetOrganised.Text">
						@Model.GetOrganised.Text
					</a>
				</li>
			}
			@if (Model.TopLinkList.Any())
			{
				foreach (var link in Model.TopLinkList)
				{
					if (link != null)
					{
						<li class="list-group-item border-0">
							<a href="@link.Href" class="fw-bold">
								@link.Text
							</a>
						</li>
					}
				}
			}
		</ul>
		<hr />
		<!-- Utils -->
		<ul class="list-group border-0 mobile-utils mt-2">
			<li class="list-group-item border-0"><a href="#"><i class="bi bi-heart me-2"></i>@Html.WebSiteString("general.mobilenavigation.favorites")</a></li>
			@Html.Partial("Framework/ProfileMobile", Model)
			<li class="list-group-item border-0"><a href="#"><i class="bi bi-bag me-2"></i>@Html.WebSiteString("general.mobilenavigation.cart")</a></li>

			<!-- marketselector -->
		</ul>

		<div class="dropup">@Html.Action("MarketSelector", "Layout", new { isMobile = true })</div>
	</div>
</div>
