@using Litium.Accelerator.Constants;
@model Litium.Accelerator.ViewModels.News.NewsViewModel


@Html.ImageFor(x => x.Image)
<div class="container">
    <div class="align-content-center text-left">
        <div class="mt-3 text-uppercase">
            <p class="mb-1 text-primary">@Model.BlogTags/@Model.NewsDate.ToShortDateString()</p>
            <p class="mb-1 font-weight-bold fs-1 w-50">@Model.Title</p>
        </div>
        @*Fixa till tjocklek och längd*@
        <hr class="bg-dark" />

        <div class="mt-2 w-75">
            <div class="font-weight-bold fs-5">
                @Model.Introduction
            </div>
            <div class="mt-2 fs-6">
                @Model.Text
            </div>
        </div>        

        <!--Taggar-->
        <div class="mt-5 text-uppercase">
            <h5 class="font-weight-bold fs-4">
                Tags in this post
            </h5>
            <p class="text-primary">@Model.BlogTags</p>
        </div>
    </div>    
</div>

<!--Slider-->
<div class="bg-light">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="carousel-item">
                <div class="cards-wrapper">

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="carousel-item">
                <div class="cards-wrapper">

                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-white">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>
<!--Slider-->

















@*@if (Model.Blocks.Any())
{
    <h1 class="structural">@Html.DisplayFor(x => x.Title)</h1>
    @Html.BlockContainer(Model.Blocks, BlockContainerNameConstant.Header)
}
<div class="row">
    <div class="small-12 medium-9 large-10 columns">
        <div class="row">
            <div class="small-12 medium-8 columns">
                @if (Model.Image != null)
                {
                    var ImageUrl = Model.Image.GetUrlToImage(new System.Drawing.Size(0, 0), new System.Drawing.Size(786, -1)).Url;
                    <figure class="news__figure">
                        <img src="@ImageUrl" class="news__image" />
                        @if (!string.IsNullOrWhiteSpace(Model.Image.Alt))
                        {
                        <figcaption class="news__figcaption">@Model.Image.Alt</figcaption>
                        }
                    </figure>
                }
                <p class="news__date">@Model.NewsDate.ToString("d")</p>

                <h1 class="news__title">@Model.Title</h1>

                @if (!string.IsNullOrWhiteSpace(Model.Introduction))
                {
                <p class="news__intro">@Model.Introduction</p>
                }

                @Model.Text

            </div>

            <div class="small-12 medium-4 columns">
                @Html.Partial("_LinkList", Model.Links)
                @Html.Partial("_FileList", Model.Files)
            </div>
        </div>
    </div>
</div>*@
