
@model Litium.Accelerator.ViewModels.News.NewsListViewModel


@if (Model.FeaturedBlog != null)
{
	<div class="container align-content-center mb-5">
		<div class="text-center mb-5">
			<img class="img-fluid rounded" src="@Model.FeaturedBlog.Image.GetUrlToImage(new System.Drawing.Size(0, 0), new System.Drawing.Size(253, 140)).Url" />
			<div class="mt-5">
				<div class="text-primary text-uppercase">@Model.FeaturedBlog.BlogTags/@DateTime.Now.ToShortDateString()</div>
				<b class="fs-4">@Model.FeaturedBlog.Title</b>
				<p>@Model.FeaturedBlog.Introduction</p>
			</div>
			<a class="cta-arrow-red" href="@Model.FeaturedBlog.Url"></a>
		</div>
		<hr class="border border-secondary border-2 shadow" />
	</div>
}

@if (Model.News.Any())
{
	<div class="container-fluid bg-light">
		<div class="row justify-content-around blogList">
			@foreach (var item in Model.News)
			{
				var ImageUrl = item.Image.GetUrlToImage(new System.Drawing.Size(0, 0), new System.Drawing.Size(253, 140)).Url;
				<a class="bg-white col-3 rounded my-3 px-0 shadow" href="@item.Url">
					<img src="@ImageUrl" class="img-fluid d-flex rounded-top" />

					<div class="px-4 py-3 cta-arrow-red-small">
						<div class="text-primary text-uppercase fs-6">@item.BlogTags/@item.NewsDate.ToShortDateString()</div>
						<div class="fw-bold fs-5">@item.Title</div>
						<div class="fs-6">@item.Introduction</div>
					</div>
				</a>
			}
		</div>
	</div>
}
