<!DOCTYPE html>
<html>
<head>
    @Html.Action("Head", "Layout")
    @RenderSection("head", false)
    @Html.Action("Index", "ClientContext")
</head>
<body>
	@Html.Action("BodyStart", "Layout")
	@{
		var bareLayout = (bool?)ViewContext.RouteData.DataTokens["BareLayout"] == true;
	}
	@if (!bareLayout)
	{
		@Html.Action("Header", "Layout")
		@Html.Action("BreadCrumbs", "Layout")
	}
	<main class="main-content">
		@RenderBody()
	</main>
	@if (!bareLayout)
	{
		@Html.Action("Footer", "Layout")
	}
	@Html.Action("CookieNotification", "Layout")
	<div id="globalNotification" />


	<script src="~/ui/mmenu/mmenu.js"></script>
	<script src="~/ui/bootstrap/popper.min.js"></script>
	<script src="~/ui/bootstrap/bootstrap.min.js"></script>

	@RenderSection("js", false)
	@Html.Action("BodyEnd", "Layout")
</body>
</html>
