@using System.Drawing;
@model Litium.Accelerator.ViewModels.Block.BrandsBlockViewModel

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="brand-block__header ">
				<h2 class="brand-block__title">@Model.Title</h2>
				@if (!string.IsNullOrWhiteSpace(Model.Url?.Href))
				{
					<a href="@Model.Url.Href" class="brand-block__link">@Model.LinkText</a>
				}
			</div>
			<div class="row brand-block">
				@foreach (var item in Model.Pages)
				{
					<div class="col-12 col-md-4 col-lg-3">
						<a href="@item.Href" class="brand-block__image-link">
							@Html.ImageFor(x => item.Image, maxSize: new Size(200, -1), htmlAttributes: new { @class = "brand-block__image" })
						</a>
					</div>
				}
			</div>
		</div>
	</div>
</div>