@model Litium.Accelerator.ViewModels.Dealer.DealerViewModel
@using Litium.Studio.Extenssions

@{
	ViewContext.RouteData.DataTokens["BareLayout"] = true;
	var importButton = "accelerator.dealer.import.button".AsAngularResourceString();
	var exportButton = "accelerator.dealer.export.button".AsAngularResourceString();
	var header = "accelerator.dealer.header".AsAngularResourceString();
}

<main>
    <div class="container">
        <h2>@header</h2>

        @if (!string.IsNullOrEmpty(Model.ImportMessage))
        {<h3>@Model.ImportMessage</h3>}
        <div class="row">
            <div class=" col">
                @using (Html.BeginForm("ImportFile", "Dealer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div>
                        @Html.AntiForgeryToken()
                        @Html.LabelFor(x => x.ImportForm.DealerFile, "accelerator.dealer.importname.label".AsAngularResourceString()) <br />
                        <input type="file" name="ImportForm.DealerFile" />
                    </div>
                    <div>
                        <button type="submit">@importButton</button>
                    </div>
                }
            </div>
            <div class=" col">
                @using (Html.BeginForm("ExportFile", "Dealer", FormMethod.Post))
                {
                    <div>
                        @Html.AntiForgeryToken()
                        @Html.LabelFor(x => x.ImportForm.DealerFile, "accelerator.dealer.exportname.label".AsAngularResourceString())
                    </div>
                    <div>
                        <button type="submit">@exportButton</button>
                    </div>
                }
            </div>
        </div>
    </div>
</main>